.footer {
  margin-top: 5%;
  background-color: #fff;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  &__logoContainer {
    margin-bottom: 10px;
  }

  &__logo {
    max-width: 100px;
  }

  &__quote {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
    font-style: italic;
  }

  &__bottom {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .footer {
    padding: 15px 0;

    &__logo {
      max-width: 80px;
    }

    &__quote {
      font-size: 14px;
    }

    &__bottom {
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 0;

    &__logo {
      max-width: 60px;
    }

    &__quote {
      font-size: 12px;
    }

    &__bottom {
      font-size: 10px;
    }
  }
}