.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #333;

  /* Spinner minimal */
  &__spinner {
    border: 3px solid rgba(255, 130, 0, 0.2); /* Couleur subtile avec opacité */
    border-top: 3px solid #FF8200; /* Couleur de ta marque */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin: 0;
  }

  &__role {
    font-size: 1.5rem;
    font-weight: 400;
    color: #FF8200;
    margin-top: 10px;
  }

  /* Animation de rotation pour le spinner */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Animation fade-in pour le texte */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 768px) {
  .loader__name {
    font-size: 1.5rem;
  }

  .loader__role {
    font-size: 1.2rem;
  }
}