.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 70px;
    background-color: #ffffff;
    transition: top 0.3s;
    max-width: 98%;

    &.hidden {
        top: -80px; /* Cache la navbar lorsqu'elle est masquée */
    }

    &__logo {
        img {
            width: auto;
            height: 80px;
        }
    }

    &__menu-button {
        display: none;
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        color: #333;
        transition: color 0.3s;

        &:hover {
            color: #FF8200;
        }
    }

    &__list {
        ul {
            display: flex;
            gap: 20px;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 18px;
                color: #333;
                cursor: pointer;
                transition: color 0.3s;

                &:hover {
                    color: #FF8200;
                }
            }
        }
    }

    &__cta-button {
        background-color: #FF8200;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #e66e00;
        }
    }

    @media (max-width: 768px) {


        &__menu-button {
            display: block;
        }

        &__list {
            display: none;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            &.open {
                display: flex;
                margin-bottom: 20px;
            }
        }

        &__cta {
            display: none; /* Enlève le bouton en version mobile */
        }

        .navbar {
            max-width: 98%;
        }
    }

    @media (max-width: 480px) {
        &__logo img {
            height: 50px;
        }

        &__list ul li {
            font-size: 14px;
        }
    }
}

.navbar a {
    text-decoration: none;
    color: inherit;
}
