.combinedComponent {
    height: 100vh;
    max-width: 95%;
    margin: auto;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;

    &__content {
        grid-column: 1 / -1; // Positions the service content on the left
        grid-row: 1 / 4; // Takes up the top 3 rows
    }

    &__serviceImg {
        margin-top: 20px;
        grid-column: 4 / 13; // Positions the image on the right
        grid-row: 1 / 4 ; // Matches the height of the content
    }

    &__mainCard {
        grid-column: 1 / 13; // Spans across all 12 columns
        grid-row: 4 / 4; // Positioned below content and image
    }

    &__secondCard {
        grid-row: 5 / 5; // Positioned below the main card
        &--orange {
            grid-column: 2 / 7; // First second card spans half the grid
        }

        &--violet {
            grid-column: 7 / 12; // Second second card spans the other half
        }
    }
}

/* Version mobile */
@media (max-width: 768px) {
    .combinedComponent {
        display: none; /* Cache complètement le composant en version mobile */
    }
  }
  
  /* Version tablette */
  @media (min-width: 769px) and (max-width: 1024px) {
    .combinedComponent {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        gap: 20px;
  
        &__content {
            grid-column: 1 / -1;
            grid-row: auto;
        }
  
        &__serviceImg {
            grid-column: 3 / -1;
            grid-row: auto;
        }
  
        &__mainCard {
            grid-column: 1 / -1;
            grid-row: auto;
        }
  
        &__secondCard {
            grid-row: auto;
            &--orange {
                grid-column: 1 / 5;
            }
  
            &--violet {
                grid-column: 5 / -1;
            }
        }
    }
  }
  


/* En dessous de 1100px : cacher l'image et le contenu */
/* En dessous de 1100px : cacher uniquement le contenu */
@media (max-width: 1100px) {
    .combinedComponent__content .content,
    .combinedComponent__serviceImg {
      display: none; /* Masque uniquement le contenu et l'image */
    }
  }
  
  /* En dessous de 1000px : cacher complètement le composant */
  @media (max-width: 1000px) {
    .combinedComponent {
      display: none; /* Supprime le composant entier */
    }
  }